<section class="hero-section" aria-labelledby="hero-title">
  <div class="hero-container">
    <div class="hero-flex" role="presentation">
      <header
        class="flex-1 flex flex-col items-center justify-center text-center"
        aria-describedby="hero-desc"
      >
        <h1 class="hero-title">
          Building, Scaling, and Launching
          <span class="font-semibold">Modern Web Applications.</span>
        </h1>
        <p class="hero-subtitle">
          Full-Stack Freelance Developer crafting fast, reliable, and
          maintainable solutions for businesses and startups.
        </p>
      </header>
      <div class="cta">
        <a href="/projects" routerLink="/projects">
          <p-button
            label="View My Work"
            styleClass="cta-button"
            pRipple
            aria-label="Navigate to my portfolio projects"
          />
        </a>

        <p-button
          label="Contact"
          variant="outlined"
          pRipple
          routerLink="/contact"
          aria-label="Navigate to contact page"
        />
      </div>
    </div>
  </div>
</section>
