/* Core Styles */
@import "./app/core/styles/theme.css";
@import "./app/core/styles/drawer.css";
@import "./app/core/styles/primeng-theme.css";
@import "primeicons/primeicons.css";

/* TailwindCSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "tailwindcss-primeui";